body {

	color:	#CC5500	;
	background-image:url("https://images.pexels.com/videos/3045163/free-video-3045163.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-repeat: auto;
	font-family: 'Open Sans', sans-serif;
	

	

}